html {
  height: 100%;
  width: 100%;
}

/* Style horizontal rule (hr) elements */
hr {
  height: 5px;
  width: 90%;
  background-color: rgb(220, 120, 202);
  margin-top:10% ;
  margin-bottom: 10%;
}

/* font-family for paragraphs and headings */
p, h1, h2, h3{
  font-family: "Times New Roman", Georgia, Arial ;
}

/* Center text  for headings*/
h1, h2, h3, .centered {
  text-align: center;
  margin-bottom: 5%;
}

/* Style the main content container */
main {
  width: 50%;
  margin-left: 25%;
}

/* Style text and lists (paragraphs and list items) */
p, li {
  font-size: 20px;
  color: black;
}

/* Style ordered lists */
ol {
  display: inline-block;
  margin: 5 auto 0 auto;
  text-align: left;
  padding-left: 0%;
}

/* Style list items and unordered lists */
ol, ul {
  list-style-position: inside; /* Places the numbers inside the content of the element  */
  margin-bottom: 5%;
}

/* social links */
.social-links {
  text-align: center;
}

/* Style the background color for the body */
body {
 background-color: #F9FBDA;
 width: 100%;
}

 /* Style the portfolio pictures and map */
.portfolio-pic, .map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Style the portfolio pictures */
.portfolio-pic {
  width: 50%;
  height: 50%;
}

/* Style the map */
.map {
  width: 600px;
  height: 600px;
  margin-bottom: 10%;
}

/* Apply a light background color with white text */
.ligth-color {
  background-color: #eda3d2;
  color: white;
}

/* Style a wrapper element */
.wrapper {
  width: 300px;
  margin: auto;
}

/*Pseudo-classes for hyperlink styles*/
a:link    { color: blue;  }
a:visited { color: red;   }
a:hover   { color: green; }
a:active  { color: pink;  }

